# Cartelle da ignorare

src/temp/
src/output/
node_modules/
dist/

# Directory di asset scaricati o temporanei
download/
img=true/
newmerlino@*/
npm/


# Ignora file di log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignora file temporanei di sistema
.DS_Store
Thumbs.db

# Ignora file environment locali
.env
